html,.markdown-body{font-family:PingFang SC,Microsoft YaHei;}
#guide{margin:auto;width:100%;max-width:1600px;box-sizing:border-box;padding:20px 350px 50px 50px;}
#nav{width:300px;padding:10px;box-sizing:border-box;border-left:1px solid #ccc;height:100%;font-size:16px;position: fixed;top:0;right:0;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;scrollbar-face-color:#fff;scrollbar-arrow-color:#fff;scrollbar-3dlight-color:#fff;scrollbar-highlight-color:#fff;scrollbar-shadow-color:#fff;scrollbar-darkshadow-color:#fff;scrollbar-track-color:#fff}
#nav::-webkit-scrollbar{width:0;height:0}
#nav > ul{padding:0}
#nav input{outline:none;width:100%;border:1px solid #ccc;box-sizing:border-box;padding:5px 8px;font-size:16px;border-radius:4px;}
#nav .active{color:red}
#nav li{list-style: none}
#nav a{display:inline-block;height:20px;line-height:20px;word-break:keep-all;white-space:nowrap; }
@media (max-width:1000px){
	#guide{padding-right:50px;margin-top:50px;}
	#nav{position:fixed;top:0;left:0;width:100%;height:50px;padding:0;background:#fff;border-left:0;box-shadow:0 1px 1px #ccc;transition:all .3s ease}
	#nav h3,#nav h3 + ul{display:none}
	#nav:hover{height:300px}
	#nav ul{padding:0;}
	#nav li{margin:0;}
	#nav li  a{height:50px;line-height:50px;padding-left:50px;color:#444}
}
@media(max-width:768px){
	#guide{padding:20px;}
	#nav li  a{padding-left:20px;}
}